footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .add__container {
    @include full-container;

    .add__container--btn {
      width: 100%;
      padding: 20px;
      border: none;
      border-radius: 8px;
      background-color: map-get($colors, primary-color);
      color: map-get($colors, secondary-color);
      font-size: map-get($font-size, sm);
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: map-get($colors, primary-hover-color);
      }
    }
  }
}
