@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Grotesk", serif;
}

body {
  display: grid;
  height: fit-content;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  color: map-get($colors, light-text-color);
  @include gradient(#f7f8ff, #bcc5e3);
  // background-color: map-get($colors, light-main-color);
}

body :where(header, main, footer) {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

@media (max-width: 768px) {
  body :where(header, main, footer) {
    padding: 10px;
  }
}
