$colors: (
  light-main-color: #f7f8ff,
  light-text-color: #141c2f,
  primary-color: #0079fa,
  secondary-color: #fff,
  primary-hover-color: #068fff,
  primary-active-color: #0079fa,
  primary-light-color: #edfaff,
  primary-ultra-soft-color: #d6f2ff,
  primary-soft-color: #b5eaff,
  gray-color: #afb0b0,
  semi-gray-blue-color: #4f6a94,
);

$font-size: (
  x-lg: 4rem,
  lg: 3rem,
  md: 2rem,
  sm: 1.5rem,
);
